/_build
/deps
erl_crash.dump
*.ez
.kateproject
.bundle
db/*.sqlite3
db/*.db-journal
db/*.db
log/*
tmp/**/*
tmp/*
!tmp/.placeholder
*~
*.*~
.*~
.*.*~
capybara*.html
.*.log
.swp.*
public/system/*
.*.kate-swp
*.orig
.DS_Store
.rbenv*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.log
*.swp
*.pid
.emacs*
