use Mix.Config

config :syscrap, :smtp_opts, [
      {:relay,'smtp.myservice.net'},
      {:port, 587},
      {:tls, :never},
      {:auth,:always},
      {:username, 'user'},
      {:password, 'pass'}
    ]
